# Symfony application's path (absolute or relative)
ROADIZ_APP_PATH=./
# Main user is 501 on macOS
USER_UID=501
# Main user is 1000 on Linux
#USER_UID=1000
PUBLIC_APP_PORT=8081
PUBLIC_VARNISH_PORT=8080
PUBLIC_PMA_PORT=8180
PUBLIC_SOLR_PORT=8983
PUBLIC_MAILER_PORT=8025
SYNC_NAME=roadiz
# Example Traefik local IP and
TRUSTED_PROXIES=172.18.0.1,172.18.0.2,REMOTE_ADDR,varnish
#TRUSTED_HOSTS=example.test,varnish.example.test

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_HOST=db
MYSQL_DATABASE=roadiz
MYSQL_USER=roadiz
MYSQL_PASSWORD=roadiz

# blackfire.io
BLACKFIRE_LOG_LEVEL=4
BLACKFIRE_SERVER_ID=
BLACKFIRE_SERVER_TOKEN=
BLACKFIRE_CLIENT_ID=
BLACKFIRE_CLIENT_TOKEN=

SOLR_HOST=solr
SOLR_PORT=8983
SOLR_CORE_NAME=roadiz

MAILER_TYPE=smtp
MAILER_HOST=mailer
MAILER_PORT=1025
MAILER_USER=
MAILER_PASSWORD=
MAILER_ENCRYPTION=

APP_ENV=dev
APP_DEBUG=1
APP_CACHE=0
APP_SECURITY_SECRET=changeme
APP_SECURITY_COOKIE_SECURE=0

VARNISH_HOST=varnish
VARNISH_DOMAIN=varnish.example.test

APP_ASSETS_DEFAULT_QUALITY=90
APP_ASSETS_MAX_PIXEL_SIZE=2500

# Docker networking DEV ONLY
DEFAULT_GATEWAY=172.22.0.1

# To use with Traefik and your local dev environment
# On linux you can use dnsmasq to redirect all DNS for *.test TLD to your machine.
# Or just copy this line to your /etc/hosts
#
# 127.0.0.1   example.test example.local varnish.example.test varnish.example.local pma.example.test pma.example.local solr.example.test solr.example.local mail.example.test mail.example.local
#
HOSTNAME=`example.test`,`example.local`
HOSTNAME_VARNISH=`varnish.example.test`,`varnish.example.local`
HOSTNAME_PMA=`pma.example.test`,`pma.example.local`
HOSTNAME_SOLR=`solr.example.test`,`solr.example.local`
HOSTNAME_MAILER=`mail.example.test`,`mail.example.local`
