<?php
declare(strict_types=1);

use RZ\Roadiz\Core\HttpFoundation\Request;

require(dirname(__DIR__) . "/app/bootstrap.php");

if ($trustedProxies = $_SERVER['TRUSTED_PROXIES'] ?? false) {
    Request::setTrustedProxies(
        explode(',', $trustedProxies),
        Request::HEADER_X_FORWARDED_ALL ^ Request::HEADER_X_FORWARDED_HOST
    );
}

if ($trustedHosts = $_SERVER['TRUSTED_HOSTS'] ?? false) {
    Request::setTrustedHosts([$trustedHosts]);
}

$kernel = new AppKernel('prod', false);

/*
 * Use Symfony internal http cache (use Varnish instead if possible)
 */
if ((bool) $_SERVER['APP_CACHE']) {
    $kernel = new AppCache($kernel);
    // When using the HttpCache, you need to call the method in your front controller
    // instead of relying on the configuration parameter
    Request::enableHttpMethodParameterOverride();
}

$request = Request::createFromGlobals();
$response = $kernel->handle($request);
$response->send();
$kernel->terminate($request, $response);
